:root {
  --width-position: 75vw;
}

.agenda-v2 {
  gap: 1em;
}
.agenda-v2--sidebar {
  background: var(--light);
  height: 100vh;
  min-height: 200px;
  overflow: auto;
  position: sticky;
  top: 1%;
}
.agenda-v2--main {
  flex-basis: 100%;
}

/* Sidebar Only Mobile Styling */

.agenda-v2--sidebar-mobile {
  /* display: none; */
  transition: all 0.3s;
  transform: translateX(100%);
}

.agenda-v2--sidebar-mobile.active {
  background: var(--light);
  height: 100vh;
  width: var(--width-position);
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.3s;
  transform: translateX(0%);
}

button#sidebarCollapse {
  position: fixed;
  right: 0.05em;
  top: 1em;
  transition: all 0.3s;
}
button#sidebarCollapse.collapsed {
  right: var(--width-position);
}

@media (min-width: 768px) {
  .agenda-v2--sidebar-mobile,
  .agenda-v2--sidebar-mobile.active {
    background: var(--light);
    display: flex;
    position: sticky;
    top: 1%;
    height: 100vh;
    flex-basis: 50%;
    transform: inherit;
  }

  button#sidebarCollapse {
    display: none;
  }
}

/* Sidebar Desktop & Mobile Styling */

#sidebarCollapse-desktop-mobile {
  transform: rotate(270deg);
  margin-left: -7.15rem;
}

.agenda-v2--main {
  padding-right: 1.5em;
  flex: 1 0 103%;
}

.agenda-v2--sidebar-desktop-mobile {
  position: sticky;
  height: 100vh;
  min-height: 200px;
  top: 1%;
  background: var(--light);
}

.agenda-v2-alt.collapsed .agenda-v2--sidebar-desktop-mobile {
  flex-basis: 100%;
}

.agenda-v2-alt.collapsed .agenda-v2--main {
  flex: 1 0 auto;
  width: 0%;
}

@media (min-width: 768px) {
  .agenda-v2--main {
    flex-basis: 101%;
    padding-right: 2.5em;
  }

  .agenda-v2-alt.collapsed .agenda-v2--main {
    flex: 1 0 auto;
    width: 1%;
  }

  .agenda-v2-alt.collapsed .agenda-v2--sidebar-desktop-mobile {
    flex-basis: 30%;
  }
}
