body {
  overflow-x: visible !important;
}

/* Sidebar Desktop & Mobile Styling */
.btn-collapse-filter {
  margin-left: -1.82rem;
}
.agenda-v2 {
  gap: 1em;
  overflow: visible;
}
.agenda-v2.collapsed {
  overflow: hidden;
}
.agenda-v2--sidebar {
  background: var(--light);
  position: sticky;
  height: 100vh;
  min-height: 200px;
  top: 0;
  background: var(--light);
}

.agenda-v2 .agenda-v2--main,
.agenda-v2.collapsed .agenda-v2--main {
  flex: 1 0 auto;
  transition: width 0.8s ease-out;
}
.agenda-v2.collapsed .agenda-v2--main {
  width: 100%;
}
.agenda-v2 .agenda-v2--main {
  width: 0%;
}

.agenda-v2 .agenda-v2--sidebar {
  width: 92%;
  z-index: 1;
}

@media (min-width: 768px) {
  .agenda-v2 .agenda-v2--sidebar {
    width: 100%;
    max-width: 300px;
  }
}
/* Filter Section Code */
[class*='filter-'] [class*='form-check-'] {
  cursor: pointer;
  max-width: 15ch;
}
[class*='filter-'] .btn .fa-caret-right {
  transition: all 0.2s ease-in-out;
}
[class*='filter-'] .btn:not(.collapsed) .fa-caret-right {
  transform: rotate(90deg);
}
[class*='filter-'] > button {
  color: var(--fg, var(--primary));
}
[class*='filter-'] input:checked,
[class*='filter-'] input:checked + .form-check-label {
  accent-color: var(--fg, var(--primary));
  color: var(--fg, var(--primary));
  font-weight: 600;
}
[class*='filter-'] .form-check-label span {
  display: block;
  margin-right: 0.25em;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--fg, var(--primary));
}
[class*='filter-'] input + .form-check-label {
  transition: all 0.1s ease-in-out;
}
.filter-topic :where(button, input:checked, input:checked + .form-check-label) {
  --fg: var(--cyan);
}
.filter-format :where(button, input:checked, input:checked + .form-check-label) {
  --fg: var(--red);
}
.filter-test :where(button, input:checked, input:checked + .form-check-label) {
  --fg: var(--orange);
}
