/* Sidebar Desktop & Mobile Styling */

#sidebarCollapse-desktop-mobile {
  margin-left: -4.15rem;
}

.agenda-v2--main {
  padding-right: 1.5em;
  flex: 1 0 103%;
}

.agenda-v2--sidebar-desktop-mobile {
  position: sticky;
  height: 100vh;
  min-height: 200px;
  top: 0%;
  background: var(--light);
}

.agenda-v2-alt.collapsed .agenda-v2--sidebar-desktop-mobile {
  flex-basis: 90%;
}

.agenda-v2-alt.collapsed .agenda-v2--main {
  flex: 1 0 auto;
  width: 0%;
}

@media (min-width: 768px) {
  .agenda-v2--main {
    flex: 1 0 auto;
    width: 60%;
    padding-right: 2.5em;
  }

  .agenda-v2-alt.collapsed .agenda-v2--main {
    flex-basis: 101%;
  }
}
.btn .fa-caret-right {
  transition: all 0.2s ease-in-out;
}
.btn:not(.collapsed) .fa-caret-right {
  transform: rotate(90deg);
}

/* Filter Section Code */

[class*='filter-'] .form-check-label {
  display: flex;
  align-items: center;
}

[class*='filter-'] > button {
  color: var(--fg, var(--primary));
}

[class*='filter-'] input:checked,
[class*='filter-'] input:checked + .form-check-label {
  accent-color: var(--fg, var(--primary));
  color: var(--fg, var(--primary));
  font-weight: 600;
}

[class*='filter-'] .form-check-label span {
  display: block;
  margin-right: 0.25em;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--fg, var(--primary));
}

[class*='filter-'] input + .form-check-label {
  transition: all 0.1s ease-in-out;
}

.filter-topic > button,
.filter-topic input + .form-check-label span,
.filter-topic input:checked,
.filter-topic input:checked + .form-check-label {
  --fg: var(--cyan);
}
.filter-format > button,
.filter-format input + .form-check-label span,
.filter-format input:checked,
.filter-format input:checked + .form-check-label {
  --fg: var(--red);
}

.filter-test > button,
.filter-test input + .form-check-label span,
.filter-test input:checked,
.filter-test input:checked + .form-check-label {
  --fg: var(--orange);
}
